{% extends 'baseWN.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Registrar - Spider Web{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% block content %}

    <div class="form-div2" id="reg">
        <div class="left-side">
            <div class="container-text">
                <h1>¡Bienvenido!</h1>
                <h2>Inicia sesión si ya eres parte de la comunidad de fans de Spider-Man</h2>
            </div>
            <div class="container-btn">
                <a href="{% url 'login' %}">
                    <button id="wow" class="btn">Iniciar Sesion</button>
                </a>
            </div>
        </div>

        <div class="right-side">
            <div class="flex-display">
                <img src="{% static 'img/logoboton.png' %}" alt="Logo">

                <h2>Registrar nueva cuenta</h2>

                <form method="post">
                    {% csrf_token %}

                    <div class="info-box">
                        {{ form.username }}
                    </div> 

                    <div class="info-box">
                        {{ form.email }}
                    </div>

                    <div class="info-box">
                        {{ form.password1 }}
                    </div>

                    <div class="info-box">
                        {{ form.password2 }}
                    </div>
                    
                    <div class="container-btn">
                        <button type="submit" class="btn">Enviar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    
    {% endblock %}

</body>
</html>
